@charset 'UTF-8';
@import url('font/font.css');
/* initialization */
html, body {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
	margin: 0px;
	border: 0px;
	padding: 0px;
	line-height: 17px;
	font-size: 16px;
	font-family: 'Noto Sans', 'Microsoft JhengHei';
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: black;
	text-decoration-style: solid;
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
	text-align: left;
	word-break: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
	letter-spacing: 0px;
	width: 100%;
	height: 100%;
}
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
div {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: auto;
	vertical-align: top;
	display: block;
}
h1, h2, h3, h4, h5, h6, p, pre, code, samp, kbd, a, b, strong, em, var, s, sub, sup, span {
	margin: 0px;
	border: 0px;
	padding: 0px;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	text-decoration-style: inherit;
	text-decoration-skip: inherit;
	text-decoration-skip-ink: inherit;
	text-align: inherit;
	word-break: inherit;
	overflow-wrap: inherit;
	word-wrap: inherit;
	background: inherit;
	vertical-align: baseline;
	display: block;
}
p b, p strong, p em, p var, p s, p sub, p sup, p span {
	display: inline;
}
h1 {line-height: 38px; font-size: 32px   ; font-weight: 500;}
h2 {line-height: 29px; font-size: 24px   ; font-weight: 500;}
h3 {line-height: 23px; font-size: 18.72px; font-weight: 500;}
h4 {line-height: 19px; font-size: 16px   ; font-weight: 500;}
h5 {line-height: 17px; font-size: 13.28px; font-weight: 500;}
h6 {line-height: 13px; font-size: 10.72px; font-weight: 500;}
p {line-height: 18px; font-size: 16px; font-weight: normal; font-family: 'Noto Sans', 'Microsoft JhengHei';}
pre  {line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace';}
code {line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace';}
samp {line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace';}
kbd  {line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace';}
a {text-decoration: underline; display: inline;}
b, strong {font-weight: bold;}
em, var { font-style: italic;}
s {text-decoration: line-through;}
sub {vertical-align: sub  ; font-size: smaller;}
sup {vertical-align: super; font-size: smaller;}
span {cursor: text;}
table {
	border-collapse: collapse;
}
img {
	aspect-ratio: auto;
	height: auto;
}
video {
	height: auto;
}
iframe {
	border: 0px solid #000000;
	aspect-ratio: 16 / 9;
	height: auto;
}
h1, h2, h3, h4, h5, h6, p, pre {
	color: white;
}
body#blur h1, body#blur h2, body#blur h3, body#blur h4, body#blur h5, body#blur h6, body#blur p, body#blur pre {
	color: rgba(0,0,0,0.5);
}
a {
	font-size: 16px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 21px;
}
p {
	font-size: 16px;
	line-height: 21px;
}
pre {
	font-size: 13.5px;
	line-height: 18px;
}
/* button */
button {
	padding: 16px 32px;
	font-size: 16px;
	margin: 4px;
	line-height: 21px;
	font-family: 'Noto Sans', 'Microsoft JhengHei';
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	color: white;
	background-color: #4CAF50;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
body#blur button {
	border-radius: 8px;
}
button:hover {
	color: black;
	background-color: rgba(231, 231, 231, 0.9);
}
body#blur button:hover {
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}
button:active {
	background-color: rgba(188, 188, 188, 0.9);
}
button.disabled {
	cursor: auto;
	color: rgba(255, 255, 255, 0.7098039215686275);
	background-color: rgba(76, 175, 80, 0.7098039215686275);
	pointer-events: none;
	user-select: none;
}
button.advance {
	padding: 10px 20px;
	font-size: 12px;
	line-height: 16px;
}
body#blur button.advance {
	border-radius: 5px;
}
button.advance.icon {
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding-left: 31px;
	padding-right: 15px;
	background-size: 16px;
	min-height: 36px;
}
button.advance.icon.no-content {
	padding: 13px;
	width: 36px;
	height: 36px;
}
/* post */
post {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}
body#blur post {
	border-radius: 8px;
}
post:first-of-type {
	padding-top: 20px;
}
post:first-child {
	padding-top: 0px;
}
content > sub-content > post:first-of-type {
	padding-top: 0px;
}
post:last-of-type {
	padding-bottom: 0px;
}
post > img.icon {
	width: 64px;
	aspect-ratio: 1;
	z-index: 1;
	position: relative;
	top: 8px;
	left: -32px;
	margin: 0px 0px -64px 0px;
	display: block;
	-webkit-user-drag: none;
}
post > img.icon:not(:first-of-type) {
	display: none;
}
post > img.icon[src=''] {
	display: none;
}
post > sub-post {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid rgba(247, 247, 247, .7);
}
post > sub-post:not(:first-of-type) {
	display: none;
}
body#blur post > sub-post {
	border-radius: 8px;
	border: 0px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.3);
}
body#blur post.non-blur > sub-post {
	background: rgba(239, 239, 239, 0.9);
}
post > sub-post > post-leader {
	max-width: calc(100% - 20px);
	width: calc(100% - 20px);
	vertical-align: top;
	display: block;
	padding: 0px 0px 0px 20px;
}
post > sub-post > post-leader:not(:first-of-type) {
	display: none;
}
body#blur post > sub-post > post-leader {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
post > sub-post > post-leader > post-leader-section {
	vertical-align: top;
	display: inline-block;
	max-width: 60%;
	width: 60%;
}
post > sub-post > post-leader > post-leader-section:not(:first-of-type) {
	display: none;
}
post > sub-post > post-leader > post-leader-section > post-leader-order {
	width: auto;
	max-width: 40px;
	vertical-align: top;
	display: inline-block;
	padding: 20px 20px 27px 20px;
	margin: 0px;
	line-height: 21px;
	min-height: 21px;
	font-size: 16px;
	color: white;
}
post > sub-post > post-leader > post-leader-section > post-leader-order:not(:first-of-type) {
	display: none;
}
body#blur post > sub-post > post-leader > post-leader-section > post-leader-order {
	color: rgba(0,0,0,0.5);
}
post > sub-post > post-leader > post-leader-section > post-leader-title {
	max-width: calc(100% - 120px);
	width: auto;
	vertical-align: top;
	display: inline-block;
	padding: 20px 20px 27px 20px;
	margin: 0px;
	line-height: 21px;
	min-height: 21px;
	font-size: 16px;
	color: white;
}
post > sub-post > post-leader > post-leader-section > post-leader-title:not(:first-of-type) {
	display: none;
}
body#blur post > sub-post > post-leader > post-leader-section > post-leader-title {
	color: rgba(0,0,0,0.5);
}
post > sub-post > post-leader > post-leader-advance {
	max-width: calc(40% - 28px);
	width: calc(40% - 28px);
	text-align: right;
	vertical-align: top;
	display: inline-block;
	padding: 12px 12px 12px 16px;
	margin: 0px;
	min-height: 36px;
}
body#blur post > sub-post > post-leader > post-leader-advance {
	border-top-right-radius: 8px;
}
post > sub-post > post-leader > post-leader-advance > button.advance,
post > sub-post > post-leader > post-leader-advance > dropdown,
post > sub-post > post-leader > post-leader-advance > dropdown > button.advance:first-of-type {
	display: inline-block;
}
post > sub-post > post-leader > post-leader-advance > *,
post > sub-post > post-leader > post-leader-advance > dropdown > :not(dropdown-content, inner-padding, outer-margin) {
	display: none;
}
post > sub-post > post-leader > post-leader-advance:not(:first-of-type) {
	display: none;
}
post > sub-post > post-content {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px 40px 20px 40px;
}
post > sub-post > post-content:not(:first-of-type) {
	display: none;
}
post > sub-post > post-content.no-content {
	padding-bottom: 0px;
}
body#blur post > sub-post > post-content.no-content {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
post > sub-post > post-content > advance {
	display: none;
}
post > sub-post > scroll-into {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: relative;
	left: -8px;
	top: -70px;
}
post > sub-post > scroll-into:not(:first-of-type) {
	display: none;
}
body#blur post > sub-post > scroll-into {
	top: -69px;
}
/* dropdown */
dropdown {
	width: auto;
	vertical-align: top;
	position: relative;
	display: inline-block;
	z-index: 0;
}
dropdown:hover {
	z-index: 1;
}
dropdown.has-disabled {
	pointer-events: none;
}
dropdown > :not(dropdown-content, inner-padding, outer-margin) {
	position: relative;
	z-index: 1;
}
dropdown > inner-padding {
	display: block;
	padding: 2px 0px;
}
dropdown > inner-padding:not(:first-of-type) {
	display: none;
}
dropdown > outer-margin {
	display: block;
	margin: -4px 0px;
}
dropdown > outer-margin:not(:first-of-type) {
	display: none;
}
dropdown > dropdown-content {
	vertical-align: top;
	display: none;
	position: absolute;
	overflow: auto;
	background-color: rgb(40, 40, 40);
	min-width: 175px;
	min-height: 36px;
	width: auto;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
	margin: 0px 4px;
	text-align: left;
	border: 0px;
	padding: 8px 0px;
	z-index: 0;
}
dropdown > dropdown-content.no-option:after {
	content: '(Nothing)';
	padding: 16px 55px;
	top: 0px;
	left: 0px;
	position: absolute;
	font-size: 14px;
	line-height: 20px;
	color: rgb(0, 0, 0, 0.5);
}
body#blur dropdown > dropdown-content {
	border-radius: 5px;
	background-color: white;
}
dropdown > dropdown-content > a {
	font-size: 14px;
	line-height: 20px;
	color: white;
	padding: 8px 55px;
	text-decoration: none;
	display: block;
	max-height: 20px;
	width: 150px;
	min-height: 20px;
	background-size: 24px;
	background-position: 16px 6px;
	background-repeat: no-repeat;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
body#blur dropdown > dropdown-content > a {
	color: rgb(10, 10, 10);
}
dropdown > dropdown-content > a.has-node {
	display: none;
}
dropdown > dropdown-content > a:hover {
	background-color: rgb(57, 57, 57);
}
body#blur dropdown > dropdown-content > a:hover {
	background-color: rgb(238, 238, 238);
}
dropdown > dropdown-content > a:active {
	background-color: rgb(80, 80, 80);
}
body#blur dropdown > dropdown-content > a:active {
	background-color: rgb(211, 211, 211);
}
dropdown:not(.has-disabled):hover > dropdown-content:first-of-type {
	display: block;
}
/* icons */
.air-play {
	background-image: url(icons8-air-play-64.png);
}
.browse-page {
	background-image: url(icons8-browse-page-64.png);
}
.download-from-cloud {
	background-image: url(icons8-download-from-cloud-64.png);
}
.external-link {
	background-image: url(icons8-external-link-64.png);
}
.music-record {
	background-image: url(icons8-music-record-64.png);
}
.play-property {
	background-image: url(icons8-play-property-64.png);
}
.share {
	background-image: url(icons8-share-64.png);
}
.tv-show {
	background-image: url(icons8-tv-show-64.png);
}
/* layout */
top {
	z-index: 2147483647;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	position: fixed;
	height: 51px;
	width: 84%;
	top: 8px;
	left: 8%;
	right: 8%;
	margin-left: -1px;
	margin-right: -1px;
}
body#blur top {
	border-radius: 5px;
	border: 0px;
	top: 9px;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}
top#small {
	left: 8px;
	right: 8px;
	margin-left: 0px;
	margin-right: 0px;
	width: calc(100% - 18px);
}
body#blur top#small {
	left: 9px;
	right: 9px;
}
top#medium {
	left: calc((100% - 1032px) / 2);
	right: calc((100% - 1032px) / 2);
	margin-left: 0px;
	margin-right: 0px;
	width: 1030px;
}
body#blur top#medium {
	left: calc((100% - 1032px) / 2 + 1px);
	right: calc((100% - 1032px) / 2 + 1px);
}
top#large {
	left: 8%;
	right: 8%;
	margin-left: -1px;
	margin-right: -1px;
	width: 84%;
}
body#blur top#large {
	margin-left: 0px;
	margin-right: 0px;
}
top:hover {
	height: auto;
	max-height: calc(100% - 18px);
	overflow: auto;
}
top > a {
	float: left;
	display: block;
	text-align: center;
	color: #666;
	padding: 14px 16px;
	text-decoration: none;
	line-height: 23px;
	min-height: 23px;
	font-size: 16px;
	user-select: none;
	cursor: default;
	-webkit-user-drag: none;
}
top > a.has-node {
	display: none;
}
top > a.icon {
	background-size: 31px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding-left: 49px;
}
top > a.icon.no-content {
	padding: 14px;
	width: 23px;
	height: 23px;
}
top > a:hover {
	background-color: rgba(221, 221, 221, 0.7);
}
top > a:active {
	background-color: rgba(201, 201, 201, 0.7);
	color: white;
}
top > a.active {
	color: white;
	background-color: #4CAF50;
}
top > a.active:hover {
	background-color: #cfcfcf;
}
top > a.active:active {
	background-color: #b8b8b8;
}
content {
	width: auto;
	vertical-align: top;
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	text-align: center;
	padding-top: 69px;
	padding-bottom: 75px;
	min-width: 1048px;
}
content > sub-content {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-align: left;
	width: 848px;
	display: inline-block;
}
content > sub-content:not(:first-of-type) {
	display: none;
}
content.tiny {
	min-width: unset;
	width: calc(100% - 70px);
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
}
content.tiny > sub-content {
	width: 100%;
}
content.tiny > sub-content post > img.icon {
	width: 36px;
	margin: 0px 0px -36px 0px;
	left: -18px;
}
content.tiny > sub-content post > sub-post > post-leader {
	max-width: calc(100% - 16px);
    width: calc(100% - 16px);
	padding: 0px 0px 0px 16px;
}
content.tiny > sub-content post > sub-post > post-leader > post-leader-section {
	max-width: 60%;
	width: 60%;
}
content.tiny > sub-content post > sub-post > post-leader > post-leader-section > post-leader-order {
	padding: 16px 8px 23px 8px;
}
content.tiny > sub-content post > sub-post > post-leader > post-leader-section > post-leader-title {
	padding: 16px 8px 23px 8px;
	max-width: calc(100% - 72px);
	width: calc(100% - 72px);
}
content.tiny > sub-content post > sub-post > post-leader > post-leader-advance {
	padding: 8px;
	max-width: calc(40% - 16px);
	width: calc(40% - 16px);
}
content.tiny > sub-content post > sub-post > post-content {
	padding: 0px 24px 16px 24px;
}
content.tiny > sub-content post:first-of-type {
	padding-top: 16px;
}
content.tiny > sub-content > post:first-of-type {
	padding-top: 0px;
}
/* blur-boundary */
body#blur content > sub-content > post > sub-post {
	position: relative;
}
body#blur content > sub-content > post > sub-post:after {
	display: block;
	content: "";
	position: absolute;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	top: -20px;
	left: -20px;
	filter: blur(20px);
	pointer-events: none;
	z-index: -1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	clip-path: inset(20px 20px 20px 20px round 8px);
}
/* scroll */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border: 3px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border: 3px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}
body:not(#blur) dropdown > dropdown-content::-webkit-scrollbar-thumb:hover {
	background: rgba(192, 192, 192, 1);
	border: 3px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}
body#blur::-webkit-scrollbar-thumb, body#blur ::-webkit-scrollbar-thumb {
	border-radius: 6px;
}
* {
	scrollbar-width: revert;
	scrollbar-color: orange rgba(0, 0, 0, 0);
}