@charset 'UTF-8';
/* 'Noto Sans' */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('NotoSans-Thin.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('NotoSans-ThinItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('NotoSans-ExtraLight.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('NotoSans-ExtraLightItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('NotoSans-Light.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('NotoSans-LightItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('NotoSans-Regular.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('NotoSans-RegularItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('NotoSans-Medium.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('NotoSans-MediumItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('NotoSans-SemiBold.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('NotoSans-SemiBoldItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('NotoSans-Bold.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('NotoSans-BoldItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('NotoSans-ExtraBold.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url('NotoSans-ExtraBoldItalic.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('NotoSans-Black.ttf') formal('ttf');
}
@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('NotoSans-BlackItalic.ttf') formal('ttf');
}